@using SmartElectronicsApi.Mvc.ViewModels.Auth
@model ChangePasswordVm

<div class="container mt-5">
    <div class="card form-card p-4">
        <h3 class="text-center mb-4">Login to Your Account</h3>

        <!-- First Form: Login Form -->
        <form asp-action="ChangePassword" class="row g-3">

            <!-- This will show the overall validation summary -->
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="col-md-6">
                <label asp-for="CurrentPassword" class="form-label"></label>
                <input asp-for="CurrentPassword" class="form-control shadow-lg input-glow" placeholder="CurrentPassword">
                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control shadow-lg input-glow" placeholder="NewPassword">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control shadow-lg input-glow" placeholder="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <!-- Submit button for Login Form -->
            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary submit-btn">Login</button>
            </div>

            <!-- Forgot Password & Register Links -->
           
        </form>

        <!-- Second Form: Google Login Form -->
       
    </div>
</div>