@using SmartElectronicsApi.Mvc.ViewModels.Auth
@model LoginVm
@section styles {
    <link href="~/assets/css/Login.css" rel="stylesheet" />
}

<div class="container mt-5">
    <div class="card form-card p-4">
        <h3 class="text-center mb-4">Login to Your Account</h3>
        <form asp-action="Login" class="row g-3">
            <!-- This will show the overall validation summary -->
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="col-md-6">
                <label asp-for="UserNameOrGmail" class="form-label"></label>
                <input asp-for="UserNameOrGmail" class="form-control shadow-lg input-glow" placeholder="UserNameOrGmail">
                <span class="text-danger" asp-validation-for="UserNameOrGmail"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control shadow-lg input-glow" placeholder="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

           

            <div class="col-12 d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary submit-btn">Hesab yaradın</button>
            </div>
        </form>
        <div class="col-12 d-flex justify-content-center mt-4">
            <form asp-action="LoginWithGoogle" method="post">
                <button type="submit" class="btn btn-google d-flex align-items-center">
                    <img src="https://smartelectronics.az/assets/images/google.svg" class="google-icon" alt="Google Logo">
                    <span class="ms-2">Login with Google</span>
                </button>
            </form>
        </div>
    </div>
</div>
@if (TempData["LoginError"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Login Failed',
            text: '@TempData["LoginError"]',
            showConfirmButton: true,
        });
    </script>
}


