@section styles {
    <link href="~/assets/css/Login.css" rel="stylesheet" />
}

<div class="container mt-5">
    <div class="card form-card p-4">
        <h3 class="text-center mb-4">Create Your Account</h3>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label">Ad</label>
                <input type="text" class="form-control shadow-lg input-glow" id="inputFirstName" placeholder="Ad">
            </div>
            <div class="col-md-6">
                <label for="inputPhone" class="form-label">Telefon nömrəsi</label>
                <input type="tel" class="form-control shadow-lg input-glow" id="inputPhone" placeholder="+994( ) ___ ___ ___">
            </div>
            <div class="col-md-6">
                <label for="inputLastName" class="form-label">Soyad</label>
                <input type="text" class="form-control shadow-lg input-glow" id="inputLastName" placeholder="Soyad">
            </div>
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">E-poçt</label>
                <input type="email" class="form-control shadow-lg input-glow" id="inputEmail" placeholder="E-poçt">
            </div>
            <div class="col-md-6">
                <label for="inputID" class="form-label">Şəxsiyyət vəsiqəsi</label>
                <input type="text" class="form-control shadow-lg input-glow" id="inputID" placeholder="Şəxsiyyət vəsiqəsi">
            </div>
            <div class="col-md-6">
                <label for="inputPassword" class="form-label">Şifrə</label>
                <input type="password" class="form-control shadow-lg input-glow" id="inputPassword" placeholder="Şifrə minimum 6 xarakter">
            </div>
            <div class="col-md-6">
                <label for="inputFIN" class="form-label">FIN</label>
                <input type="text" class="form-control shadow-lg input-glow" id="inputFIN" placeholder="FIN">
            </div>
            <div class="col-md-6">
                <label for="inputPasswordConfirm" class="form-label">Şifrə təkrarı</label>
                <input type="password" class="form-control shadow-lg input-glow" id="inputPasswordConfirm" placeholder="Şifrə təkrarı">
            </div>

            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-google d-flex align-items-center">
                    <img src="https://smartelectronics.az/assets/images/google.svg" class="google-icon" alt="Google Logo">
                    <span class="ms-2">Login with Google</span>
                </button>
            </div>

            <div class="col-12 d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary submit-btn">Hesab yaradın</button>
            </div>
        </form>
    </div>
</div>