@using SmartElectronicsApi.Mvc.ViewModels.Auth

@model ResetPasswordVm

<div class="container mt-5">
    <div class="card form-card p-4">
        <h3 class="text-center mb-4">Reset Password</h3>
        <form asp-action="ResetPassword" method="post" class="row g-3">
            <input type="hidden" name="email" value="@ViewData["email"]" />
            <input type="hidden" name="token" value="@ViewData["token"]" />

            <!-- Validation Summary -->
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="col-md-12">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control shadow-lg input-glow" placeholder="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="RePassword" class="form-label"></label>
                <input asp-for="RePassword" class="form-control shadow-lg input-glow" placeholder="Repeat Password">
                <span class="text-danger" asp-validation-for="RePassword"></span>
            </div>

            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
@if (TempData["ResetPasswordError"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Reset Password Failed',
            text: '@TempData["ResetPasswordError"]',
            showConfirmButton: true,
        });
    </script>
}
