@using SmartElectronicsApi.Mvc.ViewModels.Auth

@model ResetPasswordVm

<div class="container mt-5">
    <div class="card form-card p-4">
        <h3 class="text-center mb-4">Create an Account</h3>
        <form asp-action="ResetPassword" class="row g-3">

            <!-- This will show the overall validation summary -->
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="col-md-12">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control shadow-lg input-glow" placeholder="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="RepeatPassword" class="form-label"></label>
                <input asp-for="RepeatPassword" class="form-control shadow-lg input-glow" placeholder="RepeatPassword">
                <span class="text-danger" asp-validation-for="RepeatPassword"></span>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </div>
        </form>

    </div>
</div>
