@{
    Layout = null;
}
@model ContactVM
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v7 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

	<!-- STYLE CSS -->

</head>

<body>
<style>
	@@font-face {
  font-family: "Montserrat-Regular";
            src: url("~/assets/fonts/Montserrat/Montserrat-Regular.ttf");
        }
@@font-face {
  font-family: "Montserrat-Bold";
            src: url("~/assets/fonts/Montserrat/Montserrat-Bold.ttf");
        }
@@font-face {
  font-family: "Montserrat-SemiBold";
            src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
        }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
  margin: 0; }

input, textarea, select, button {
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  background: url("~/assets/img/bg-registration-form-7.jpg") no-repeat;
  background-size: cover; }

.inner {
  max-width: 758px;
  margin: auto;
  background: #39459b;
  border: 10px solid #0d99d7;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

textarea {
  resize: none; }

h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-align: center;
  margin-bottom: 12px; }

p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8; }

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px; }
  .form-group span {
    font-size: 15px;
    color: #00ade6;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text; }
  .form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff; }

.form-control {
  border: none;
  border-bottom: 2px solid #00ade6;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold"; }
  .form-control:focus, .form-control:valid {
    border-bottom: 2px solid #fff; }
    .form-control:focus + span, .form-control:valid + span {
      transform: translateY(-22px) scale(0.8); }
      .form-control:focus + span + .border, .form-control:valid + span + .border {
        transform: scaleX(1); }

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px; }

button {
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover {
    border-color: transparent; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    button:hover i {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }

@@media (max-width: 767px) {
  h3 {
    font-size: 38px; }

  p {
    font-size: 14px;
    padding: 0; }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: #39459b;
    border: 10px solid #0d99d7; } }

/*# sourceMappingURL=style.css.map */

</style>
	<div class="wrapper">
		<div class="inner">
			<form asp-action="Index" method="post"> 
				<h3>Contact Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <label asp-for="Name" class=" form-group">
                    <input asp-for="Name"  class="form-control" required>
					<span>Your Name</span>
                    <span class="text-danger " asp-validation-for="Name"></span>
                </label>
                <label asp-for="Email" class="form-group">
                    <input asp-for="Email" class="form-control" required>
					<span for="">Your Mail</span>
                    <span class="text-danger " asp-validation-for="Email"></span>
                </label>
                <label asp-for="Subject" class="form-group">
                    <input asp-for="Subject" class="form-control" required>
                    <span for="">Your Subject</span>
                    <span class="text-danger " asp-validation-for="Subject"></span>
                </label>
                <label asp-for="Message" class="form-group">
                    <textarea asp-for="Message"  class="form-control" required></textarea>
					<span for="">Your Message</span>
                    <span class="text-danger " asp-validation-for="Message"></span>
                </label>
				<button type="submit">
					Submit
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
			</form>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

@{
    if (TempData["Send"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Created successfully',
                text: 'Contact created  successfully!',
                showConfirmButton: false,
                timer: 2000
            }).then(function () {
                window.location.href = '@Url.Action("Index")';
            });
        </script>
    }
}