<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 thisPart">
            <ul class="vertical-menu shadow">
                <li>
                    <i class="fas fa-mobile-alt icon"></i>
                    <a href="#">Smartfon və Planşetlər</a>
                    <div class="category-details">
                        <!-- Add your category details here -->
                        <div class="all">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Man Clothes</h6>
                                    <p>Shirt</p>
                                    <p>T-Shirt</p>
                                    <p>Pant</p>
                                    <p>Underwear</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Accessories</h6>
                                    <p>Belt</p>
                                    <p>Hat</p>
                                    <p>Watches</p>
                                    <p>Sunglasses</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Shoes</h6>
                                    <p>Sneakers</p>
                                    <p>Sandals</p>
                                    <p>Formal</p>
                                    <p>Casual</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Bags</h6>
                                    <p>Backpack</p>
                                    <p>Crossbody Bags</p>
                                    <p>Side Bags</p>
                                    <p>Slides</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Woman Clothes</h6>
                                    <p>Dress</p>
                                    <p>Skirt</p>
                                    <p>Top</p>
                                    <p>Jacket</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <i class="fas fa-clock icon"></i>
                    <a href="#">Saatlar</a>
                    <div class="category-details">
                        <!-- Add your category details here -->
                        <div class="all">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Man Clothes</h6>
                                    <p>Shirt</p>
                                    <p>T-Shirt</p>
                                    <p>Pant</p>
                                    <p>Underwear</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Accessories</h6>
                                    <p>Belt</p>
                                    <p>Hat</p>
                                    <p>Watches</p>
                                    <p>Sunglasses</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Shoes</h6>
                                    <p>Sneakers</p>
                                    <p>Sandals</p>
                                    <p>Formal</p>
                                    <p>Casual</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Bags</h6>
                                    <p>Backpack</p>
                                    <p>Crossbody Bags</p>
                                    <p>Side Bags</p>
                                    <p>Slides</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <h6>Woman Clothes</h6>
                                    <p>Dress</p>
                                    <p>Skirt</p>
                                    <p>Top</p>
                                    <p>Jacket</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <i class="fas fa-tv icon"></i>
                    <a href="#">TV, Audio, Video</a>
                </li>
                <li>
                    <i class="fas fa-laptop icon"></i>
                    <a href="#">Kompüter və ofis avadanlıqları</a>
                </li>
                <li>
                    <i class="fa-solid fa-blender icon"></i>
                    <a href="#">Böyük məişət texnikası</a>
                </li>
                <li>
                    <i class="fas fa-blender icon"></i>
                    <a href="#">Kiçik məişət texnikası</a>
                </li>
                <li>
                    <i class="fa-solid fa-blender icon"></i>
                    <a href="#">Şəxsi qulluq və gözəllik</a>
                </li>
                <li>
                    <i class="fas fa-camera icon"></i>
                    <a href="#">Foto və foto aksessuarları</a>
                </li>
                <li>
                    <i class="fas fa-gamepad icon"></i>
                    <a href="#">Əyləncə</a>
                </li>
                <li>
                    <i class="fas fa-bicycle icon"></i>
                    <a href="#">Nəqliyyat</a>
                </li>
                <li>
                    <i class="fas fa-couch icon"></i>
                    <a href="#">Mebel</a>
                </li>
                <!-- Add more items as needed -->
            </ul>
        </div>
        <div class="col-md-9 ForSlider col-sm-12">
            <div class="swiper mb-3">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="https://api.smartelectronics.az/uploads/settings/6855da2ba3f243eb9f181d26d2acd497S.Banneryeni.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://api.smartelectronics.az/uploads/settings/d1a69ca8b4664440938bb193457fb007ApplewatchWebbanner.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://api.smartelectronics.az/uploads/settings/6855da2ba3f243eb9f181d26d2acd497S.Banneryeni.jpg" alt="">
                    </div>
                    <!-- Add more slides as needed -->
                </div>
            </div>
            <div class="small-images">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="https://api.smartelectronics.az/uploads/settings/5f97957d0fcf43e8a8ff89cc74b284ecGroup1.png" style="width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="https://api.smartelectronics.az/uploads/settings/ab3eb83422674d9e8ee40567d51fc7fdGroup89.png" style="width: 100%; height: auto;" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <section>
        <div class="row align-items-center">
            <!-- Column 1 -->
            <div class="col-6 col-md-3">
                <!-- Content for Column 1 -->
                <div class="SmalCard p-4 rounded-4 bg-white w-100 shadow">
                    <div class="icon d-flex justify-content-center mb-2">
                        <img src="https://smartelectronics.az/assets/images/new-blue.png" width="40" height="40" alt="">
                    </div>
                    <div class="d-flex TextSide justify-content-center">
                        <span class="text-center" style="
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: 22px;
                                 line-height: 27px;
                                 color: #000;
                                 ">Yeni Məhsullar</span>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="col-6 col-md-3">
                <!-- Content for Column 1 -->
                <div class="SmalCard p-4 rounded-4 bg-white w-100 shadow">
                    <div class="icon d-flex justify-content-center mb-2">
                        <img src="https://smartelectronics.az/assets/images/badge-blue.png" width="40" height="40" alt="">
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="text-center" style="
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: 22px;
                                 line-height: 27px;
                                 color: #000;
                                 ">Ən Çox Baxılanlar</span>
                    </div>
                </div>
            </div>
            <!-- Column 3 -->
            <div class="col-6 col-md-3">
                <!-- Content for Column 1 -->
                <div class="SmalCard p-4 rounded-4 bg-white w-100 shadow">
                    <div class="icon d-flex justify-content-center mb-2">
                        <img src="https://smartelectronics.az/assets/images/discount-blue.png" width="40" height="40" alt="">
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="text-center" style="
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: 22px;
                                 line-height: 27px;
                                 color: #000;
                                 ">Endirimli Məhsullar</span>
                    </div>
                </div>
            </div>
            <!-- Column 4 -->
            <div class="col-6 col-md-3">
                <!-- Content for Column 1 -->
                <div class="SmalCard p-4 rounded-4 bg-white w-100 shadow">
                    <div class="icon d-flex justify-content-center mb-2">
                        <img src="https://smartelectronics.az/assets/images/bulb-blue.png" width="40" height="40" alt="">
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="text-center" style="
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: 22px;
                                 line-height: 27px;
                                 color: #000;
                                 ">Kampaniyalar</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row g-4">
                <!-- Product Card -->
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <div class="product-card p-3 shadow-sm">
                        <!-- Discount Badge -->
                        <div class="discount-badge-circle">
                            Nağd alışlarda<br>Endirim<br><strong>170 AZN</strong>
                        </div>

                        <!-- Wishlist Icon -->
                        <div class="wishlist-icon">
                            <i class="fa-regular fa-heart wishlist"></i>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image text-center mb-3">
                            <img class="img-fluid" src="https://api.smartelectronics.az/uploads/products/cd28760926e7480abf4cb425b20e669613blue.jpg" alt="Product Image">
                        </div>

                        <!-- Product Name -->
                        <h3 class="product-name text-center mb-1">
                            LG F4J3VYG6J
                        </h3>

                        <!-- Reviews and Rating -->
                        <div class="review-section text-center mb-2">
                            <span class="rating-stars">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-alt text-warning"></i>
                            </span>
                            <span class="review-count">(57 Reviews)</span>
                        </div>

                        <!-- Price -->
                        <div class="price-section text-center mb-2">
                            <span class="price-old text-muted">1269 AZN</span><br>
                            <span class="price-new fw-bold">1099 AZN</span>
                        </div>

                        <!-- Color Choices Section -->
                        <div class="color-choices text-center my-2">
                            <span class="color-circle" style="background-color: #000000;"></span>
                            <span class="color-circle" style="background-color: #3498db;"></span>
                            <span class="color-circle" style="background-color: #ff4757;"></span>
                            <span class="color-circle" style="background-color: #f1c40f;"></span>
                        </div>

                        <!-- Monthly Payment Section -->
                        <div class="installment-section d-flex justify-content-center align-items-center mb-3">
                            <i class="fa-solid fa-calendar-alt text-muted me-1"></i>
                            <span class="installment-option">6 ay</span>
                            <span class="installment-option selected mx-2">12 ay</span>
                            <span class="installment-price fw-bold">106 AZN</span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="action-buttons text-center">
                            <button class="btn btn-primary w-100 mb-2">1 kliklə al</button>
                            <a href="#" class="btn btn-outline-secondary w-100">Kredit</a>
                        </div>
                    </div>
                </div>

                <!-- Repeat Product Card -->
            </div>
        </div>
    </section>
    <section class="mb-5">
        <img width="100%" class="rounded-3" src="https://api.smartelectronics.az/uploads/settings/2211cddaedd64dc8b769380b255c766asmart2.gif" alt="">
    </section>
    <section id="BrandSlider" class="mb-5">
        <div class="swiperBrand mb-3">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide d-flex justify-content-center align-items-center">

                    <img src="https://api.smartelectronics.az/uploads/settings/c6d159d9414d4779902291ca4faa4822download.png" alt="" class="img-fluid">
                    <div class="border-right"></div>

                </div>
                <div class="swiper-slide d-flex justify-content-center align-items-center">

                    <img src="https://api.smartelectronics.az/uploads/settings/137b4912df65475488af78f85d6dcef5Apple-Logo.png" alt="" class="img-fluid">
                    <div class="border-right"></div>
                </div>
                <div class="swiper-slide d-flex justify-content-center align-items-center">

                    <img src="https://api.smartelectronics.az/uploads/settings/c6d159d9414d4779902291ca4faa4822download.png" alt="" class="img-fluid">
                    <div class="border-right"></div>
                </div>
                <div class="swiper-slide d-flex justify-content-center align-items-center">

                    <img src="https://api.smartelectronics.az/uploads/settings/c6d159d9414d4779902291ca4faa4822download.png" alt="" class="img-fluid">
                    <div class="border-right"></div>
                </div>
                <div class="swiper-slide d-flex justify-content-center align-items-center">

                    <img src="https://api.smartelectronics.az/uploads/settings/c6d159d9414d4779902291ca4faa4822download.png" alt="" class="img-fluid">
                    <div class="border-right"></div>
                </div>
            </div>
        </div>
    </section>
</div>
